@{
    ViewData["title"] = "Laboratory work №4";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Лабораторная работа №4
    </title>
</head>
<body>
    <h1>
        Веб-приложение: Warehouse (Lab4)
    </h1>
    <h2>
        Выполнила: студентка группы ИТП-31
    </h2>
    <h3>
        Довгая Е. К.
    </h3>
</body>
</html>
